header{
    background-color: $colorNav;
    font-weight: bold;

    .png{
            background: none;
            width: 150px;
            max-width: 100%;
    }

    .container-fluid{
        background-color: $colorNav;
    }
}