main{
    .png{
        background: none;
        width: 150px;
        max-width: 100%;
    }

    .grillaProductos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        ""
        ""
        ""
        ;
        justify-items: center;
        align-items: center;
        gap: 1rem;
    }

    .grillaInicio{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 0.1fr;
        grid-template-areas:
        "imagenInicio      tituloInicio"
        "descripcionInicio carouselInicio"
        "textoFinal        textoFinal"
        ;
        justify-items: center;
        align-items: center;
        gap: 0.5rem;

        .imagenInicio{
            grid-area: imagenInicio;

            .img{
                width: 500px;
                max-width: 100%;
            }
        }

        .bienvenido {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }

        p {
            font-size: 1.1em;
            line-height: 1.6em;
        }

        .tituloInicio{
            grid-area: tituloInicio;
        }


        .descripcionInicio{
            grid-area: descripcionInicio;
            background-image: radial-gradient(circle, rgba(255, 255, 255, 0.507), #f6cbb300);
        }

        .carouselInicio{
            grid-area: carouselInicio;
            width: 70%;
            max-width: 98%;
        }

        .textoFinal{
            grid-area: textoFinal;
            h2{
                padding: 1rem;
            }
        }
    }

    .grillaSobrenosotros{   
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: 
                "tituloSobrenosotros tituloSobrenosotros tituloSobrenosotros"
                "adri                 pao                mariana"
                "descripcionAdri      descripcionPao     descripcionMari"
        ;
        justify-items: center;
        align-items: start;

        .tituloSobrenosotros{
            grid-area: tituloSobrenosotros;
            padding-top: 3rem;
            
            .mppSobrenosotros{
                text-align: center;
            }
        }

        .adri{
            grid-area: adri;

            .fotoPresentacion{
                    width: 400px;
                    max-width: 100%;
                    border-radius: 2cap;
                    transition: 1s;
            }

            .fotoPresentacion:hover{
                transform: scale(1.2);
            }
        }

        .descripcionAdri{
            grid-area: descripcionAdri;
            padding: 0rem 4rem 1rem 4rem;
        }

        .pao{
            grid-area: pao;

            .fotoPresentacion{
                    width: 400px;
                    max-width: 100%;
                    border-radius: 2cap;
                    transition: 1s;
            }
            .fotoPresentacion:hover{
                transform: scale(1.2);
            }
        }

        .descripcionPao{
            grid-area: descripcionPao;
            padding: 0rem 4rem 1rem 4rem;
                }

        .mariana{
            grid-area: mariana;

            .fotoPresentacion{
                width: 400px;
                max-width: 100%;
                border-radius: 2cap;
                transition: 1s;
            }

            .fotoPresentacion:hover{
                transform: scale(1.2);
            }
        }

        .descripcionMari{
            grid-area: descripcionMari;
            padding: 0rem 4rem 1rem 4rem;
                }
    }

    .grillaEpisodios{   
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 3fr 3fr 0.5fr;
        grid-template-areas: 
                "tituloEpisodios tituloEpisodios"
                "episodio1       episodio2"
                "episodio3       episodio4"
                "episodioT       episodioT"
        ;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        transition: 1s;

        .tituloEpisodios{
            grid-area: tituloEpisodios;

            .imagenEpisodios{
                width: 300px;
                transition: 0.5s;
                .img{
                    width: 400px;
                }
            }
            
            .imagenEpisodios:hover{
                transform: scale(1.2);
            }
        }

        .episodio1{
            grid-area: episodio1;
        
        }
        
        .episodio2{
            grid-area: episodio2;
        }
        
        .episodio3{
            grid-area: episodio3;
        }
        
        .episodio4{
            grid-area: episodio4;
        }
        
        .episodioT{
            grid-area: episodioT;
        }
        
    }

}

div{
    a{
        text-decoration: none;
        color: #81614f;
    }
}
